In [1]:
from fastapi import UploadFile
from io import BytesIO
from utility import preprocess

class DummyUploadFile:
    def __init__(self, filepath):
        self.filename = filepath
        self.file = open(filepath, "rb")

# Example path
filepath = "data/product_groups_monthly.xlsx"

# Create dummy UploadFile
upload_file = DummyUploadFile(filepath)

# Now use your function exactly as is:
df = preprocess.sheet_to_pandas(upload_file, skip=1)

# Close the file when done
upload_file.file.close()

In [4]:
df

,Quality:,2024-06-24 00:00:00,2024-07-24 00:00:00,2024-08-24 00:00:00,2024-09-24 00:00:00
0,Rebar,238,219,246,232
1,MBQ,18,67,62,54
2,SBQ,8,6,6,10
3,CHQ,24,11,26,22

In [7]:
melted = df.melt(id_vars='Quality:', var_name='date', value_name='heats')

In [8]:
melted

   Quality:                 date  heats
0     Rebar  2024-06-24 00:00:00    238
1       MBQ  2024-06-24 00:00:00     18
2       SBQ  2024-06-24 00:00:00      8
3       CHQ  2024-06-24 00:00:00     24
4     Rebar  2024-07-24 00:00:00    219
5       MBQ  2024-07-24 00:00:00     67
6       SBQ  2024-07-24 00:00:00      6
7       CHQ  2024-07-24 00:00:00     11
8     Rebar  2024-08-24 00:00:00    246
9       MBQ  2024-08-24 00:00:00     62
10      SBQ  2024-08-24 00:00:00      6
11      CHQ  2024-08-24 00:00:00     26
12    Rebar  2024-09-24 00:00:00    232
13      MBQ  2024-09-24 00:00:00     54
14      SBQ  2024-09-24 00:00:00     10
15      CHQ  2024-09-24 00:00:00     22